[submodule "ex1_922000720220_GPIO/lvgl"]
	path = ex1_922000720220_GPIO/lvgl
	url = https://github.com/AlrayQiu/lvgl_for_rtthread_spark_one.git
[submodule "ex2_922000720220_Uart/lvgl"]
	path = ex2_922000720220_Uart/lvgl
	url = https://github.com/AlrayQiu/lvgl_for_rtthread_spark_one.git
[submodule "ex3_922000720220_Timer/lvgl"]
	path = ex3_922000720220_Timer/lvgl
	url = https://github.com/AlrayQiu/lvgl_for_rtthread_spark_one.git
[submodule "ex4_922000720220_PWM/lvgl"]
	path = ex4_922000720220_PWM/lvgl
	url = https://github.com/AlrayQiu/lvgl_for_rtthread_spark_one.git
[submodule "ex5_922000720220_I2C/lvgl"]
	path = ex5_922000720220_I2C/lvgl
	url = https://github.com/AlrayQiu/lvgl_for_rtthread_spark_one.git
